body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #4CAF50;
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  #sample-metadata {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown {
    margin: 20px 0;
  }
  